<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/styles.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="top_menu">
        <ul class="clearfix">
            <li>
                <a href="/api/logout">Logout</a>
            </li>
            <li><%= name %></li>
        </ul>
    </div>
    <div id="app"></div>
    <script src="/vendors.js"></script>
    <script src="/customers.min.js"></script>
</body>
</html>
