<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/styles.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div id="login_app"></div>
    <script src="/vendors.js"></script>
    <script src="/login.min.js"></script>
</body>
</html>
